body{ 
  margin: 0; 
  font-family: 'AntonaMedium';
}
* { box-sizing: border-box; }

/* The overall Page layout is a flex row (nav and content side-by-side) 
We will override this for smaller screens later on*/
main { 
  display: flex; 
  flex-direction: row;
}

@media (max-width: 900px) { 
  main { flex-direction: column; }  
}
 
#credits{
  margin: 5rem;
}